<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knatola.GroceryApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_header"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.knatola.GroceryApp.MainActivity"
            android:label="@string/app_header"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.knatola.GroceryApp.Groceries.GroceryAddView"
            android:parentActivityName="com.knatola.GroceryApp.MainActivity"
            android:label="@string/app_header"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.knatola.GroceryApp.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.knatola.GroceryApp.SettingsActivity"
            android:parentActivityName="com.knatola.GroceryApp.MainActivity"
            android:label="@string/app_header"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.knatola.GroceryApp.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity android:name="com.knatola.GroceryApp.Login.LoginActivity"
            android:parentActivityName="com.knatola.GroceryApp.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_header"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.knatola.GroceryApp.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>